# WeChat Web OAuth
NEXT_PUBLIC_WECHAT_CLIENT_ID=
WECHAT_CLIENT_SECRET=

# WeChat Miniprogram
WECHAT_MINIPROGRAM_APPID=
WECHAT_MINIPROGRAM_SECRET=

# NextAuth
NEXTAUTH_URL=
NEXTAUTH_SECRET=


# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

# Ali OSS
ALIYUN_OSS_REGION=
ALIYUN_OSS_ACCESS_KEY_ID=
ALIYUN_OSS_ACCESS_KEY_SECRET=
ALIYUN_OSS_BUCKET=

# resend email key (https://resend.com/docs)
RESEND_API_KEY=
RESEND_REGISTERED_EMAIL=

# Aliyun SMS (https://help.aliyun.com/document_detail/419273.html)
ALIYUN_SMS_ACCESS_KEY_ID=
ALIYUN_SMS_ACCESS_KEY_SECRET=
ALIYUN_SMS_SIGN_NAME=
ALIYUN_SMS_TEMPLATE_CODE=

#deno url
NEXT_PUBLIC_BACKEND_URL=
BACKEND_URL=
BACKEND_API_KEY=
ADMIN_PASSWORD=

# Wallet Connection (Reown/WalletConnect)
NEXT_PUBLIC_REOWN_PROJECT_ID=4416e9c350b3c4e38cc6a1a696e17e83

# AI AGENT
AGENT_API_BASE_URL=https://yue-lint-agent.api.tokentapestry.com
AGENT_API_TOKEN=xxx

ALIYUN_SMS_ACCESS_KEY_ID="your-access-key-id"
ALIYUN_SMS_ACCESS_KEY_SECRET="your-access-key-secret"
ALIYUN_SMS_SIGN_NAME="短信签名名称"
ALIYUN_SMS_TEMPLATE_CODE="SMS_123456789"